:local {
  @side-padding: 8px;
  @side-padding-padded: 25px;

  .root {
    display: inline-block;
    position: relative;
    width: 250px;
  }

  .select {
    height: 30px;
    width: 100%;
    font-family: inherit;
    font-size: 14px;
    line-height: 28px;

  }


  .disabled .select {
    background: #f2f2f2;
    border-color: #d9d9d9;
    color: #808080;
  }

  .error .select {
    border-color: #da0902;
    border-radius: 1px;
    box-shadow: 0 0 0 1px #da0902;
  }

  .padLeft .select {
    padding-left: @side-padding-padded;
  }

  .padRight .select {
    padding-right: @side-padding-padded;
  }
}
