html {height: 100%;}
.lightbox-document-body {     overflow: hidden;}
.lightbox-document-html {     overflow: hidden;}

.lightbox-close {
    background: url('./img/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: 9px;
    top: 10px;
    user-select: none;
    width: 20px;
    z-index: 33;

    &:hover,
    &:focus,
    &:active {
        background-position: 0 -20px;
    }
}
.lightbox-overlay-background {
    background: #00030a;
    opacity: .6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
}

.lightbox-container-wrap {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
}

.lightbox-container {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-y: auto;
}

.lightbox-content-wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    right: 0;
}

.lightbox-spring {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.lightbox-content {
    background: white;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    display: inline-block;
    vertical-align: middle;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;

    color: #404040;
    font-family: 'Segoe UI';
    font-size: 14px;
    position: relative;
}
.lightbox-header {
    font-size: 20px;
    color: black;
    padding: 15px 30px 15px 30px;
}
.lightbox-body{
    padding: 0 29px 0 29px;
}
.lightbox-footer {
    background: #F2F2F2;
    padding: 21px 30px;
}
.lightbox-footer-button {
    margin-right: 20px;
}