:local {

  .inner {
    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.07), 0 3px 10px 0 rgba(0,0,0,.20);
    color: #404040;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
  }
}
.ie-lt9 {
  :local {
    .inner {
      border: 1px solid #DADADA;
    }
  }
}
