

:local {

  .tabSelectItem_last_yes {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-right:1px solid #d2d2d2;
    border-top-right:1px solid #d2d2d2;
  }

  .tabSelectItem_first_yes {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-left:1px solid #d2d2d2;
    border-top-left:1px solid #d2d2d2;
  }

  .tabSelectItem {
    height: 28px;
    line-height: 28px;
    background-color: buttonface;
    display: table-cell;
    border-bottom: 1px solid #b2b2b2;
    border-top: 1px solid #d2d2d2;
    padding: 1px 5px;
    text-align: center;
  }

  .tabSelectItem_selected_yes {
    background-color: gray;
    color: white;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .tabSelectItem_selected_no
  {
    background-color: #fdfdfd;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #dfdfdf);
    background-image: -moz-linear-gradient(top, #fdfdfd, #dfdfdf);
    background-image: -ms-linear-gradient(top, #fdfdfd, #dfdfdf);
    background-image: linear-gradient(to bottom, #fdfdfd, #dfdfdf);
    cursor: pointer;
    color: black;
  }
}
