.example-enter {
    opacity: 0.01;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity .2s ease-in;
}

.example-appear {
    opacity: 0.01;
    transition: opacity .2s ease-in;
}

.example-appear.example-appear-active {
    opacity: 1;
}