.RTAutocomplete {

  &-menu-input-wrap {
    padding: 3px;
    min-width: 130px;
  }

  &-menu-input {
     width: 100%;
  }

  &-menu {
    background: #fff;
    border: 1px solid #d0d0d0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    position: absolute;
  }

  &-menuItems{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &-menu-item {
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    padding: 4px 12px 4px 8px;
    cursor:pointer;

    &-selected {
      background: #e4f3fe;

    }
    &:hover {
      background: #e4f3fe;
    }
  }
}
