:local {
  .root {
    background: linear-gradient(#fefefe, #ececec);
    border: 1px solid #d9d9d9;
    border-bottom-color: #b2b2b2;
    border-radius: 3px;
    color: #404040;
    cursor: default;
    display: inline-block;
    outline: 0;
    position: relative;
  }

  .root:focus {
    border-color: #5199db;
    box-shadow: 0 0 0 1px #5199db, inset 0 0 0 1px #fff;
    position: relative;
  }

  .root:hover {
    background: #ebebeb;
    background: linear-gradient(#f2f2f2, #dfdfdf);
  }

  .isOpened {
    background: #d7d7d7;

    && {
    }
  }
  .isOpened.isOpened {
    border-color: #b3b3b3;
    box-shadow: inset 0 3px 2px -2px rgba(0, 0, 1, .3);
  }

  .label {
    width: 100%;
    display: inline-block;
    line-height: 28px;
    height: 28px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .labelIsOpened {
    position: relative;
    z-index: 1000;
  }

  .labelText {
    max-width: 100%;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    display: inline;
    margin-left: 10px;
    margin-right: 20px;
  }

  .placeholder {
    color: #888;
  }
  .arrow {
    border: 4px solid transparent;
    border-bottom-width: 0;
    border-top-color: #a6a6a6;
    position: absolute;
    right: 8px;
    top: 13px;
  }

  .container {
    bottom: 1px;
    left: -1px;
    position: absolute;
    right: -1px;
    z-index: 1000;
  }

  .botBorder {
    background: #b3b3b3;
    height: 1px;
    position: relative;
  }

  .overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .drop {
    min-width: 100%;
    position: absolute;
  }

  .menu {
    background: #fff;
    border: 1px solid #d5d5d5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    max-height: 300px;
    max-width: 40px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px 0;

    &Item {
      padding: 6px 18px 7px 6px;
      white-space: nowrap;
    }

    &ItemSelected {
      background: #f1f1f1;
    }

    &ItemCurrent {
      background: #e4f3ff;
    }

    &Sep {
      border-top: 1px solid #ececec;
      margin: 5px 6px;
    }
  }

  .search {
    margin: 0 4px 4px;
  }
}
